@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-Darkcyan: hsl(158, 36%, 37%);
    --clr-Cream: hsl(30, 38%, 92%);

    --clr-Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--clr-Cream);
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.back{
    background-color: var(--White);
    max-width: 550px;
    border-radius: 1.5rem;
    display: flex;

}
.back .image{
    position: relative;
}
.mobileimg{
    display: none;
}
.mainimage{
    border-radius: 1.5rem 0 0 1.5rem;
    max-width: 80%;
    min-height: 100%;
}
.text{
    right: 2rem;
    position: relative;
    width: 50%;
}
.title{
    color: var(--clr-Verydarkblue);
    font-family: "Montserrat";
    padding: 1rem 0 ;
}
.name{
    color: var(--clr-Verydarkblue);
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-family: "Fraunces 9pt Black";
}
.desc{
    color: var(--Darkgrayishblue);
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    font-size: 14px;
    font-family: "Montserrat Medium";
}
.price{
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}
.actual{
    color: var(--clr-Darkcyan);
    font-family: "Fraunces 9pt Black";
    font-size: 24px;
}
.decount{
    color: var(--Darkgrayishblue);
    font-size: 10px;
    font-family: "Montserrat Medium";
    padding-left: 1rem;
}
.icon{
    padding: 0 .5rem;
}
.cart{
    width: 220px;
    min-height: 2.8rem;
    border: 0;
    background-color: var(--clr-Darkcyan);
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}
.cart:hover{
    background-color: hsl(158, 38%, 24%);
}

.attribution{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}
@media screen and (max-width: 500px) {
    .back {
        max-width: 350px;
        flex-direction: column;
    }
    .mobileimg{
        display: flex;
        max-width: 100%;
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .mainimage {
       display: none;
    }

    .text {
        padding-left: 1.5rem;
        padding-bottom: 1rem;
        width: 100%;
        right: initial;
    }
    .cart{
        width: 90%;
    }

}